<% provide(:title, "Inställningar") %>
<h1>Inställningar</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="signup_form">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name, "Namn" %>
        <% if current_user.admin? %>
          <%= f.text_field :name %>
        <% else %>
          <%= f.text_field :name, :readonly => true, class: "non-editable" %>
        <% end %>
        <%= f.label :location, "Ort" %>
        <%= f.text_field :location %>
        <%= f.label :landscape, "Län" %>
        <%= f.select :landscape, CS.states(:se).values.sort() %>
        <%= f.label :email, "E-mail" %>
        <%= f.text_field :email %>
        <%= f.label :password, "Nytt lösenord"  %>
        <%= f.password_field :password, html: {autocomplete: "off"} %>
        <%= f.label :password_confirmation, "Bekräfta ditt nya lösenord" %>
        <%= f.password_field :password_confirmation, html: {autocomplete: "off"} %>
        <% if current_user.admin %>
          <div class="checkbox-field">
          <%= f.label :disabled, "Avstängd:", class: "checkbox-label" %>
          <%= f.check_box :disabled, class: "checkbox" %>
          </div>
        <% end %>
        <div class="confirm">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#save">Spara ändringarna
          <span class="caret"></span></button>
          <div class="collapse" id="save">
            <%= f.label :oldpassword, "Nuvarande lösenord" %>
            <%= f.password_field :oldpassword %>
            <%= f.submit "Bekräfta ändringarna", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="signup_form confirm">
      <%= form_for @user, method: :delete do |f| %>
        <button type="button" class="btn btn-primary btn-danger" data-toggle="collapse" data-target="#delete">Radera konto
          <span class="caret"></span></button>
          <div class="collapse" id="delete">
            <p>All information kopplat till ditt konto kommer att gå förlorad.</p>
            <%= f.label :password, "Ange lösenord" %>
            <%= f.password_field :password %>

            <%= f.submit "Bekräfta raderingen", class: "btn btn-primary btn-danger" %>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
