<%= provide(:title, 'Registrera dig') %>
<%if !logged_in? %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="action-form">
      <div class="field">

        </div>
      <%= form_for(@user, url: signup_path) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name, "* Namn eller alias" %>
        <p>Synligt för användare.</p>
        <%= f.text_field :name %>
        <%= f.label :landscape, "* Län" %>
        <p>Synligt för användare.</p>
        <%= f.select :landscape, CS.states(:se).values.sort().push('Danmark').push('Finland').push('Norge'), { :include_blank => '-- Välj ett län --' } %>
        <%= f.label :location, "* Ort" %>
        <p>Synligt för användare.</p>
        <%= f.text_field :location %>
        <%= f.label :email, "* E-mail" %>
        <p>Synligt för användare.</p>
        <%= f.text_field :email %>
        <%= f.label :password, "* Lösenord" %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation, "* Bekräfta ditt lösenord" %>
        <%= f.password_field :password_confirmation %>
        <%= f.label "Användaravtal:" %>
        <p> Genom att registrera dig på Biblion, lovar du: </p>
        <p>&#9829; Att inte missbruka Biblions underliggande system. </p>
        <p>&#9829;&#9829; Att enbart lägga upp böcker du vill och kan ge bort. </p>
        <p>&#9829;&#9829;&#9829; Att inte ta betalt för de böcker du lägger upp. </p>
        <p>&#9829;&#9829;&#9829;&#9829; Att sprida kultur och kunskap.</p>
        <p>&#9829;&#9829;&#9829;&#9829;&#9829; Att du är över 16 år eller har din målsmans godkännande för att registrera dig.</p>

        <div class="checkbox-field" >
        <%= f.label :terms_of_service, "Jag lovar på heder och samvete att följa avtalet ovan:", class: "checkbox-label" %>
        <%= f.check_box :terms_of_service, class: "checkbox" %>
        </div>
        <%= f.submit "Skapa konto!", class: "btn btn-primary" %>
      <% end %>
  </div>
  </div>
</div>
<% end %>
