<%= provide(:title, 'Registrera dig') %>
<%if !logged_in? %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="signup_form">
      <div class="field">

        </div>
      <%= form_for(@user, url: signup_path) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name, "* Förnamn eller alias" %>
        <p>Synligt för användare.</p>
        <%= f.text_field :name %>
        <%= f.label :landscape, "* Län" %>
        <p>Synligt för användare.</p>
        <%= f.select :landscape, CS.states(:se).values.sort() %>
        <%= f.label :location, "* Ort" %>
        <p>Synligt för användare.</p>
        <%= f.text_field :location %>
        <%= f.label :email, "* E-mail" %>
        <p>Synligt för användare.</p>
        <%= f.text_field :email %>
        <%= f.label :password, "* Lösenord" %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation, "* Bekräfta ditt lösenord" %>
        <%= f.password_field :password_confirmation %>
        <div class="checkbox-field">
        <%= f.label :terms_of_service, "Genom att registrera mig, godkänner jag Biblions användaravtal:", class: "checkbox-label" %>
        <%= f.check_box :terms_of_service, class: "checkbox" %>
        </div>
        <%= f.label "1. krav nr 1:", class: "checkbox-label" %>
        <%= f.submit "Skapa konto!", class: "btn btn-primary" %>
      <% end %>
  </div>
  </div>
</div>
<% else %>
<h1>Du är redan inloggad</h1>
<% end %>
