<% provide(:title, "Profile") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <span id="name"><%= @user.name %></span><%= link_to '[Edit]', edit_user_path(@user)%>
      <ul>
        <li><span class="attr">Email</span><span class="info"><%= @user.email %></span></li>
        <li><span class="attr">Telephone</span><span class="info"><%= @user.telephone %></span></li>
        <li><span class="attr">Signed up</span><span class="info"><%= @user.created_at %></span></li>
        <li><span class="attr">Last updated</span><span class="info"><%= @user.updated_at %></span></li>
      </ul>
    </section>
  </aside>
</div>
