<% provide(:title, "Profil") %>
<!-- <div class="center_container"> -->
<aside class="col-lg-3 col-md-3">
<ul class="users userinfo">
  <% if current_user?(@user)||current_user.admin %>
    <li><span>Namn </span><span><%= @user.name %></span></li>
    <li><span>Telefon </span><span><%= @user.telephone %></span></li>
    <li><span>Email </span><span><%= @user.email %></span></li>
    <li><span>Ort </span><span><%= @user.location %>, <%= @user.landscape %></span></li>
    <li><span class="attr">Antal bortgivna böcker</span><span class="info"> <%= rand(20) %>  </span></li>
    <li><span class="attr">Antal mottagna böcker</span><span class="info"> <%= rand(20) %>  </span></li>
    <li><span class="attr">Ratio</span><span class="info"> <%= (rand + rand).round(2) %> </span></li>
    <li><span>Medlem sedan </span><span><%= @user.created_at.to_formatted_s(:dmy) %></span></li>
    <li><span>Information senast uppdaterad </span><span><%= @user.updated_at.to_formatted_s(:dmy) %></span></li>
    <li><%= link_to 'Redigera kontoinformation', edit_user_path(@user) %>
  <% else %>
    <li><span>Namn </span><span><%= @user.name %></span></li>
    <li><span class="attr"></span><span class="info"> PADDING </span></li>
    <li><span class="attr">Antal bortgivna böcker</span><span class="info"> <%= rand(20) %>  </span></li>
    <li><span class="attr">Antal mottagna böcker</span><span class="info"> <%= rand(20) %>  </span></li>
    <li><span class="attr">Ratio</span><span class="info"> <%= (rand + rand).round(2) %> </span></li>
    <li><span class="attr">Medlem sedan</span><span class="info"><%= @user.updated_at.to_formatted_s(:dmy) %></span></li>
  <% end %>
</ul>
</aside>
<div class="col-lg-9 col-md-9">
  <% if @user.books.any? %>
  <h3><%= @user.name %>s böcker  (<%= @user.books.count %>)</h3>
    <ul class="books">
      <%= render @books %>
    </ul>
    <%= will_paginate @books, previous_label: t("föregående"), next_label: t("nästa")%>
  <% end %>
</div>
<!-- </div> -->
