<li id="book-<%= book.id %>" class="col-sm-6 col-md-6 col-lg-4 container-fluid">
  <div class="left col-md-4 col-sm-6 col-xs-4">
    <div class="cover-image">
      <div class="status-and-image">
      <div class="status">
        <div class="<%= 'circle' unless book.cover.nil? %> <%= 'ok' if book.available %>"></div>
      </div>
      <%= link_to book do %>
        <% if book.cover.nil? || book.cover.empty? %>
          <div class="no-cover-url no-cover-url-small">
            <span class="title"><%= book.title %></span>
            <br/>
            <span class="author"><%= book.author %></span>
          </div>
        <% else%>
        <%= image_tag(book.cover) unless book.cover.empty?%>
      <% end %>
      <% end %>
    </div>
    </div>
  </div>
  <div class="right col-md-8 col-sm-6 col-xs-8">

    <h4 class="title"><%=link_to book.title, book%></h4>
    <h5 class="author"><%= link_to book.author, author_url(author: book.author) %></h5>
    <h6 class="author">Skick: <%=  book.quality %></h6>
    <% if book.language.nil? || book.language.empty? %>
    <h6 class="year">Spr책k: Ej angivet</h6>
    <% else %>
    <h6 class="year">Spr책k: <%= book.language %></h6>
    <% end %>
    <% if book.genre.nil? || book.genre.empty? %>
    <h6 class="year">Genre: Ej angivet</h6>
    <% else %>
    <h6 class="year">Genre: <%= link_to book.genre, genre_url(genre: book.genre)%></h6>
    <% end %>
    <% unless book.pages.nil? %>
    <h6 class="pages"><%= book.pages %> sidor</h6>
    <% end %>
    <!-- <% if book.year.nil? %>
    <h6 class="year">Utgivnings책r: Ej angivet</h6>
    <% else %>
    <h6 class="year">Utgivnings책r: <%= book.year.to_formatted_s(:y) %></h6>
    <% end %> -->
    <h6 class="location">Ort:
      <%= link_to book.user.location, location_url(location: book.user.location)%>,
      <%= link_to book.user.landscape, landscape_url(landscape: book.user.landscape)%>
    </h6>
    <% if logged_in? %>
    <h6 class="created_at">Lades upp: <%= book.created_at.to_formatted_s(:dmy) %></h6>
    <% end %>
  </div>
</li>
