<%= provide(:title, 'Lägg till en ny bok') %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <div class="action-form">
    <%= form_for(@book, url: {action: "googlebooks_search"}, method: :post) do |f| %>
      <%= f.label(:query, "Sök efter titel eller författare:") %>
      <%= f.text_field :query, autofocus: "true", onFocus: "this.select()", value: @query, class: "google-search",
      onkeyup: 'this.style.background=(this.value=="" ? "white url(https://developers.google.com/books/images/google_watermark.gif) no-repeat" : "white url(none) no-repeat");',
      onsubmit: 'this.style.background=(this.value=="" ? "white url(https://developers.google.com/books/images/google_watermark.gif) no-repeat" : "white url(none) no-repeat");' %>
      <%= f.submit("Sök") %>
      <% if params[:action] == "googlebooks_search" %>
        <p> Hittar du inte boken? Pröva en annan sökning, eller <%= link_to "lägg till den manuellt istället", new_book_path %>
      <% end %>
    <% end %>
  </div>
    <% unless @books.nil? %>
    <ul class="books">
    <% @books.each_with_index do |book, index| %>
      <li class="col-sm-6 col-md-6 col-lg-4 container-fluid select" onClick="document.forms.namedItem('form-<%= index %>').submit();">
        <%= form_for(book, url: {action: "new"}, method: :post, html: {id: "form-#{index}" }) do |f| %>
          <%= f.hidden_field :author, value: book.author %>
          <%= f.hidden_field :title, value: book.title %>
          <%= f.hidden_field :language, value: book.language %>
          <%= f.hidden_field :cover, value: book.cover %>
          <%= f.hidden_field :description, value: book.description %>
          <%= f.hidden_field :googlebooks, value: book.googlebooks %>
          <%= f.hidden_field :pages, value: book.pages %>
        <% end %>
        <div class="left col-md-4 col-sm-6">
            <div class="cover-image">
              <% r = rand(4)+1 %>
              <%= image_tag "bookcover#{r}.png" if book.cover.nil? %>
              <%= image_tag book.cover unless book.cover.nil?%>
            </div>
        </div>
        <div class="right col-md-8 col-sm-6">
          <h4 class="title"><%= book.title %></h4>
          <h5 class="author"><%= book.author %></h5>
          <% unless book.pages.nil? %>
            <h6 class="year"><%= book.pages %> sidor</h6>
          <% end %>
        </div>
      </li>
    <% end %>
    <% end %>
  </ul>
</div>
