<%= provide(:title, 'Lägg till en ny bok') %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="signup_form">
      <% 
      file = File.open("#{Rails.root.to_s}/app/views/shared/genres.txt") or die 
      @genres = []
      file.each_line{|line|
        @genres.push(line.strip)
      }
      %>
      <%= form_for(@book, url: {action: "new"}, method: :post) do |f| %>
        <%= render 'shared/book_error_messages' %>
        <%= f.hidden_field :googlebooks %>
        <%= f.hidden_field :description %>
        <%= f.hidden_field :cover %>
        <%= f.hidden_field :pages %>
        <%= f.label :title, "* Boktitel" %>
        <%= f.text_field :title%>
        <%= f.label :author, "* Författare" %>
        <%= f.text_field :author%>
        <%= f.label :language, "* Språk" %>
        <%= f.text_field :language %>
        <%= f.label :quality, "* Skick" %>
        <%= f.select :quality, options_for_select(['Använd', 'Nyskick',
          'Sliten', 'Mycket sliten']) %>
        <%= f.label :genre, "* Genre" %>
        <%= f.select :genre, options_for_select(@genres) %>
        <%= f.label :year, "Utgivningsår" %>
        <% if params[:year].nil? %>
          <%= f.date_select "year", include_blank: true, start_year: Time.now.year,
          end_year: Time.now.year - 200, order: [:year]%>
        <% else %>
          <%= f.date_select "year",
          default: DateTime.strptime(params[:year], '%Y-%m-%d %H:%M:%S %Z'),
          start_year: Time.now.year, end_year: Time.now.year - 200, order: [:year]%>
        <% end %>
        <%= f.label :pages, "Antal sidor" %>
        <%= f.text_field :pages %>
        <%= f.label :comment, "Din kommentar om boken" %>
        <%= f.text_area :comment %>
        <%= f.label :tags, "Taggar (separera med kommatecken)" %>
        <%= f.text_area :tags, placeholder: "Ex. kurskoder eller subgenrer" %>
        <%= f.submit "Lägg till boken!", class: "btn btn-primary" %>
      <% end %>
  </div>
  </div>
</div>
