<% provide(:title, @book.title) %>
<li id="book-<%= @book.id %>" class="col-md-10 ">
  <div class="left col-md-4 col-sm-2 col-xs-2">
    <%= image_tag(@book.cover, style: 'width:100%;height:100%') %>
  </div>
  <div class="right col-md-8 col-sm-10 col-xs-10">
    <h4 class="title">Titel: <%=link_to @book.title, @book%></h4>
    <h5 class="author">Författare: <%= link_to @book.author, author_url(author: @book.author) %></h5>
    <h6 class="year">Utgiven: <%= @book.year %></h6>
    <h6 class="location">Plats: <%= link_to @book.location, location_url(location: @book.location)%></h6>
    <% if logged_in? %>
    <h6 class="givenby">Ges bort av: <%= link_to @book.user.name, @book.user %></h6>
    <h6 class="swaps">Har getts bort: <%= @book.swaps %> gånger</h6>
    <% end %>
    <h6 class="available">Tillänglig:
      <% if @book.available %>
        Ja
      <% else %>
        Nej
      <% end %>
    </h6>
    <h4>Beskrivning:</h4> <p class="description"><%= @book.description%></p>
    <h4>Användarens beskrivning:</h4> <p class="description"><%= @book.description%></p>
  </div>
</li>
