<% provide(:title, @book.title) %>
<div id="book-<%= @book.id %>" class="show-book">
  <div class="center_container col-lg-5 col-md-5 col-sm-4">
    <% if @book.cover.nil? or @book.cover.empty? %>
    <%= image_tag("bookcover.png")%>
    <% else %>
    <%= image_tag(@book.cover)%>
    <% end %>
  </div>

  <div class="col-lg-7 col-md-7 col-sm-8">
    <h2 class="title"><%=link_to @book.title, @book%></h2>
    <h4 class="author"><%= link_to @book.author, author_url(author: @book.author) %></h4>
    <ul>
    <li class="quality"><span class="attr">Skick:</span> <span class="info"><%=  @book.quality %></span></li>
    <% if @book.language.nil? || @book.language.empty?%>
    <li class="year"><span class="attr">Språk:</span> <span class="info">Ej angivet</span></li>
    <% else %>
    <li class="year"><span class="attr">Språk:</span> <span class="info"><%= @book.language %></span></li>
    <% end %>
    <% if @book.genre.nil? || @book.genre.empty? %>
    <li class="genre"><span class="attr">Genre:</span> <span class="info">Ej angivet</span></li>
    <% else %>
    <li class="genre"><span class="attr">Genre:</span> <span class="info"><%= link_to @book.genre, genre_url(genre: @book.genre)%></span></li>
    <% end %>

    <% if @book.pages.nil?%>
    <li class="year"><span class="attr">Sidor:</span> <span class="info">Ej angivet</span></li>
    <% else %>
    <li class="year"><span class="attr">Sidor:</span> <span class="info"><%= @book.pages %></span></li>
    <% end %>

    <% if @book.year.nil? %>
    <li class="year"><span class="attr">Utgivningsår:</span> <span class="info">Ej angivet</span></li>
    <% else %>
    <li class="year"><span class="attr">Utgivningsår:</span> <span class="info"><%= @book.year.to_formatted_s(:y) %></span></li>
    <% end %>

    <li class="location"><span class="attr">Ort:</span>
      <span class="info">
      <%= link_to @book.user.location, location_url(location: @book.user.location)%>,
      <%= link_to @book.user.landscape, landscape_url(landscape: @book.user.landscape)%>
      </span>
    </li>
    <% if logged_in? %>
      <li class="givenby">
        <span class="attr">Ges bort av:</span>
        <span class="info"><%= link_to @book.user.name, @book.user %></span>
      </li>
    <% end %>
    <li class="googlebooks">
      <% unless @book.googlebooks.nil? || @book.googlebooks.empty? %>
        <span class="attr">Information hämtad från:</span><span class="info"><%= link_to "Google", @book.googlebooks, :target => "_blank", :rel => "noopener" %></span>
      <% end %>
  </li>
  </ul>
    <% if logged_in? %>
      <% if current_user == @book.user || current_user.admin %>
        <form action="<%= edit_book_path(@book) %>">
          <input type="submit" class="btn btn-primary" value="Redigera bokinformation"></input>
        </form>
        <%= form_for @book, method: :delete do |f| %>
          <%= f.submit "Radera den här boken", data: { confirm: "Är du säker?" }, class: "btn btn-primary btn-danger" %>
        <% end %>
      <% end %>
      <% if current_user != @book.user %>
        <% if current_user.disabled %>
          <button type="button" class="btn btn-primary btn-danger">
            Ditt konto är avstängt
          </button>
        <% elsif !current_user.activated %> 
          <button type="button" class="btn btn-primary btn-danger">
            Du har inte aktiverat ditt konto
          </button>
        <% else %>
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#request">
            Kontakta ägaren<span class="caret"></span>
          </button>
          <div class="collapse users userinfo" id="request">
            <ul>
              <li><span>För att få boken måste du skicka ett mail till bokens ägare.</span></li>
              <li><span>Glöm inte att skriva i mailet att du gärna skulle vilja få boken <%= link_to @book.title, @book %>,
                som <%= link_to  @book.user.name.partition(" ").first, @book.user %> har lagt upp på Biblion.</span></li>
              <li><span>Namn </span><span><%= @book.user.name %></span></li>
              <li><span>Email </span><span><%= @book.user.email %></span></li>
              
            </ul>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h4>Ägarens kommentar:</h4> <p class="description"><%= @book.comment unless @book.comment.nil? %></p>
  <h4>Beskrivning:</h4> <p class="description"><%= @book.description%></p>
  </div>
</div>
