<% provide(:title, @book.title) %>
<div id="book-<%= @book.id %>" class="show-book">
  <div class="center_container col-lg-5 col-md-5 col-sm-4">
    <% if @book.cover.nil? or @book.cover.empty? %>
    <%= image_tag("/assets/bookcover.png")%>
    <% else %>
    <%= image_tag(@book.cover)%>
    <% end %>
  </div>

  <div class="col-lg-7 col-md-7 col-sm-8">
    <h2 class="title"><%=link_to @book.title, @book%></h2>
    <h4 class="author"><%= link_to @book.author, author_url(author: @book.author) %></h4>
    <ul>
    <li class="quality"><span class="attr">Skick:</span> <span class="info"><%=  @book.quality %></span></li>
    <% if @book.language.nil? || @book.language.empty?%>
    <li class="year"><span class="attr">Språk:</span> <span class="info">Ej angivet</span></li>
    <% else %>
    <li class="year"><span class="attr">Språk:</span> <span class="info"><%= @book.language %></span></li>
    <% end %>
    <% if @book.genre.nil? || @book.genre.empty? %>
    <li class="genre"><span class="attr">Genre:</span> <span class="info">Ej angivet</span></li>
    <% else %>
    <li class="genre"><span class="attr">Genre:</span> <span class="info"><%= link_to @book.genre, genre_url(genre: @book.genre)%></span></li>
    <% end %>

    <% if @book.pages.nil?%>
    <li class="year"><span class="attr">Sidor:</span> <span class="info">Ej angivet</span></li>
    <% else %>
    <li class="year"><span class="attr">Sidor:</span> <span class="info"><%= @book.pages %></span></li>
    <% end %>

    <% if @book.year.nil? %>
    <li class="year"><span class="attr">Utgivningsår:</span> <span class="info">Ej angivet</span></li>
    <% else %>
    <li class="year"><span class="attr">Utgivningsår:</span> <span class="info"><%= @book.year.to_formatted_s(:y) %></span></li>
    <% end %>

    <li class="location"><span class="attr">Ort:</span>
      <span class="info">
      <%= link_to @book.user.location, location_url(location: @book.user.location)%>,
      <%= link_to @book.user.landscape, landscape_url(landscape: @book.user.landscape)%>
      </span>
    </li>
    <% if logged_in? && @book.available%>
    <li class="givenby"><span class="attr">Ges bort av:</span> <span class="info"><%= link_to @book.user.name, @book.user %></span></li>

    <% end %>
    <li class="available"><span class="attr">Tillänglig:</span>
      <span class="info">
      <% if @book.available %>
        Ja
      <% else %>
        Nej
      <% end %>
      </span>
    </li>
    <li class="googlebooks">
      <% unless @book.googlebooks.nil? || @book.googlebooks.empty? %>
        <span class="attr">Information hämtad från:</span><span class="info"><%= link_to "Google", @book.googlebooks, :target => "_blank", :rel => "noopener" %></span>
      <% end %>
  </li>
  </ul>
    <% if logged_in? && current_user == @book.user %>
      <form action="<%= edit_book_path(@book) %>">
        <input type="submit" class="btn btn-primary" value="Redigera bokinformation"></input>
      </form>
      <%= form_for @book, method: :delete do |f| %>
        <%= f.submit "Radera den här boken", data: { confirm: "Är du säker?" }, class: "btn btn-primary btn-danger" %>
      <% end %>


    <% elsif logged_in? && @book.available%>
      <% if current_user.admin %>
        <form action="<%= edit_book_path(@book) %>">
          <input type="submit" class="btn btn-primary" value="Redigera bokinformation"></input>
        </form>
        <%= form_for @book, method: :delete do |f| %>
          <%= f.submit "Radera den här boken", data: { confirm: "Är du säker?" }, class: "btn btn-primary btn-danger" %>
        <% end %>
      <% end %>
    <% elsif logged_in? && !@book.available %>
      <button type="button" class="btn btn-static unavailable">
        Boken är inte tillgänglig
      </button>
  <% end %>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h4>Beskrivning:</h4> <p class="description"><%= @book.description%></p>
  </div>
</div>
