<header>
<nav  class="navbar navbar-default navbar-fixed-top">
  <ul class="nav navbar-nav">
    <li class="navbar-brand"><div><%= link_to "Biblion", root_url %> | <%= yield(:title) %></div></li>
    <li class="list-form"><form class="form-inline"><input class="form-control mr-sm-2" type="text" placeholder="Boktitel eller författare"></form> </li>
    <li class="list-form"><form class="form-inline"><input class="form-control mr-sm-2" type="text" placeholder="Stad"></form> </li>
    <li class="dropdown">
      <% if !logged_in? %>
      <%= link_to 'Logga in', login_path %>

      <% elsif current_user.admin? %>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Profil', current_user %></li>
          <li><%= link_to 'Inställningar', edit_user_path(current_user) %></li>
          <li><%= link_to 'Användare', users_path %></li>
          <li>
            <%= link_to "Logga ut", logout_path, method: :delete %>
          </li>
      <% else %>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mitt konto
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Profil', current_user %></li>
            <li><%= link_to 'Inställningar', edit_user_path(current_user) %></li>
            <li>
              <%= link_to "Logga ut", logout_path, method: :delete %>
            </li>
      <% end %>
      </ul>
    </li>
  </ul>
</nav>
</header>
