<div class="signup_form">
<%= form_for(:session, url: login_path) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.submit "Logga in", class: "btn btn-primary" %>
  <%= f.label :remember_me, class: "checkbox inline" do %>
    <%= f.check_box :remember_me, id: "checkbox" %>
    <span>Kom ihåg mig på den här enheten</span>
    <% end %>
<% end %>
<!-- <span id="noacc"><%= link_to "Inte registrerad?", signup_path %></span> -->
</div>
