<div class="signup_form">
<%= form_for(:session, url: login_path) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.submit "Logga in", class: "btn btn-primary" %>
  <div class="checkbox-field">
    <%= f.label :remember_me, "Kom ih책g mig p책 den h채r enheten", class: "checkbox-inline"%>
    <%= f.check_box :remember_me, class: "checkbox" %>
  </div>
  <%= link_to 'Registrera dig h채r!', signup_path %>
<% end %>
</div>