<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>Biblion | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="sthr8ei4f8LsG-T4j8vXf4bizRkUmLnfUyVXbRK5ynY" />
    <meta name="description" content="På Biblion kan du ge och få böcker av andra människor, helt gratis! Registrera dig för att börja, eller ta en titt för att se vilka
    böcker som ligger ute just nu.">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="main-content">
      <% flash.each do |msg_type, msg| %>
      <div class="alert alert-<%= msg_type %>"><%= msg %></div>
      <% end %>
      <%= yield %>
    </div>
    <div class="debug"> <%= debug(params) if Rails.env.development? %></div>
    <%= render 'layouts/footer' %>
  </body>
</html>
